<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Karaca | @ViewBag.Title</title>
    <meta name="description" content="Karaca Çay, Kahve ve Su Isıtma Makineleri">
    <meta name="keywords" content="Karaca, Kahve, Çay, Su, Makine">
    <meta name="author" content="Karaca">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/x-icon"
          href="assets/img/favicon.ico" />

    <!-- CSS
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="~/krc/assets/css/bootstrap.min.css" />
    <!--owl carousel min css-->
    <link rel="stylesheet" href="~/krc/assets/css/owl.carousel.min.css" />
    <!--font awesome css-->
    <link rel="stylesheet" href="~/krc/assets/css/font.awesome.css" />
    <!--jquery ui min css-->
    <link rel="stylesheet" href="~/krc/assets/css/jquery-ui.min.css" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/krc/assets/css/style.css" />
    <!--modernizr min js here-->
    <script src="~/krc/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <style>
        .button {
            background-color: #ffffff; /* Beyaz */
            border: none;
            color: black;
            /*padding: 15px 32px;*/
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 60px;
        }
    </style>
</head>

<body style="background-image: url('/krc/krcBg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
    @RenderBody()
    <!-- JS
    ============================================ -->
    <!--jquery min js-->
    <script src="~/krc/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <!--bootstrap min js-->
    <script src="~/krc/assets/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="~/krc/assets/js/owl.carousel.min.js"></script>
    <!--jquery countdown min js-->
    <script src="~/krc/assets/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="~/krc/assets/js/jquery.ui.js"></script>
    <!-- Plugins JS -->
    <script src="~/krc/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/krc/assets/js/main.js"></script>
</body>


</html>
